/*==============>[@imported files]<==============*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');



/*____________[End of => @imported files]___________*/


/*==============>[utilities]<==============*/
    :root{
        --button-bg:rgb(0, 120, 160);
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Nunito';
    }
    body{
        padding-top: 50px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    h1{
        font-size: 52px;
        font-weight: 700;
        line-height: 70px;
        letter-spacing: 0px;
        color: rgba(58, 58, 58, 1);
        font-family: 'Exo 2';
    }
    h2{
        font-size: 35px;
        color: rgba(58, 58, 58, 1);
    }
    h4{
        font-size: 24px;
        line-height: 36px;
        color: #3A3A3A;
        font-weight: 700;
    }
    a{
        text-decoration: none;
    }
    .false-space{
        color: transparent;
    }

/*____________[End of => utilities]___________*/

/*==============>[header]<==============*/
    header{
        display: grid;
        grid-template-columns: 243px 912px;
    }

/*__________[End of => header]__________*/


/*==============>[main]<==============*/
    main{
        margin: 72px 0 100px;
        min-height: 200vh;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

/*__________[End of => main]__________*/


/*==============>[starting-journey]<==============*/
    .starting-journey{
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 582px 133px 440px;
        align-items: center;
        grid-template-areas: 
            "st . si"
        ;
    }


    .text-area{
        grid-area: st;
        height: 270px;
    }
    .text-area p{
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        margin: 16px 0;
    }
    .text-area a{
        display: inline-block;
        padding: 10px 24px;
        background-color: var(--button-bg);
        border-radius: 41px;
        color: white;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        transition: transform .3s ;
    }
    .text-area a:hover{
        transform: scale(1.2);
    }
    .text-area a:hover i {
        transform: scale(1.2);
        position: relative;
        animation: arrow .6s ease-in infinite;
    }
    @keyframes arrow {
        0%{
            left: 0;
        }
        100%{
            left: 3rem;
        }
    }
    .text-area a:active{
        transform: scale(1);
    }

    .img-area{
        grid-area: si;
        height: 414px;
    }
    .img-area > img{
        max-width: 100%;
        max-height: 100%;
    }
    

/*__________[End of => starting-journey]__________*/


/*==============>[popular-collection]<==============*/
    .popular-collection{
        max-width: 1047px;
        min-height: 1662px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        margin-bottom: 100px;
    }


    .popular-collection> h3{
        font-size: 28px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: 0px;
        text-align: center;
        color: rgba(58, 58, 58, 1);
    }


    .card-area{
        display: grid;
        grid-template-columns: repeat(3,329px);
        grid-gap: 30px;
    }
    .card{
        height: 476px;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 5px;
        padding: 17px 14px;
    }
    .card img{
        height: 256px;
        width: 300px;
        border-radius: 5px;
        margin-bottom: 16px;
        overflow: hidden;
    }
    .card h3{
        font-size: 28px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0em;
        color: #18191F;
        margin-bottom: 6px;
    }
    .price{
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        rgba(0, 0, 0, 0.87)
    }
    .rating .fa-star , .rating .fa-star-half-alt{
        color: #FB8200;
        font-size: 10.32px;
    }
    .rating>span{
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.1px;
        color: rgba(94, 99, 102, 1);
    }
    .plus-point p{
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.018em;
        color: rgba(120, 120, 133, 1);
    }


    .see-more{
        align-self: flex-end;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        color: var(--button-bg);
        margin-top: 32px;
        transition: transform .3s;
    }
    .see-more:hover{
        transform: scale(1.2);
    }
    .see-more:active{
        transform: scale(1);
    }


/*__________[End of => popular-collection]__________*/


/*==============>[creative section]<==============*/
    .creative-section h2{
        margin-bottom: 1.5rem;
        text-align: center;
        width: 100%;
    }
    .creative-content{
        display: flex;
        max-width: 1155px;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row wrap;
    }
    .creative-img{
        flex: 0 0 300px;
        width: 300px;
        height: 300px;
        border-radius: 10px;
        background-image: url("");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        animation: changing-image 10s steps(100) infinite;
    }
    .creative-text{
        flex: 0 1 855px;
        width: 855px;
        padding: 1rem 10%;
    }
    .creative-text p{
        font-size: 1.8em;
    }
    .text-hightlight{
        color: var(--button-bg);
    }

    /*auto image changing in creative section */
    @keyframes changing-image {
        0%{
            background-image: url("images/action.png");
            opacity: .2;
        }
        5%{
            background-image: url("images/action.png");
            opacity: .6;
        }
        10%{
            background-image: url("images/action.png");
            opacity: 1;
        }
        15%{
            background-image: url("images/action.png");
            opacity: .6;
        }
        19%{
            background-image: url("images/action.png");
            opacity: .2;
        }
        20%{
            background-image: url("images/airpod.png");
            opacity: .2;
        }
        25%{
            background-image: url("images/airpod.png");
            opacity: .6;
        }
        30%{
            background-image: url("images/airpod.png");
            opacity: 1;
        }
        35%{
            background-image: url("images/airpod.png");
            opacity: .6;
        }
        39%{
            background-image: url("images/airpod.png");
            opacity: .2;
        }
        40%{
            background-image: url("images/camera.png");
            opacity: .2;
        }
        45%{
            background-image: url("images/camera.png");
            opacity: .6;
        }
        50%{
            background-image: url("images/camera.png");
            opacity: 1;
        }
        55%{
            background-image: url("images/camera.png");
            opacity: .6;
        }
        59%{
            background-image: url("images/camera.png");
            opacity: .2;
        }
        60%{
            background-image: url("images/drone.png");
            opacity: .2;
        }
        65%{
            background-image: url("images/drone.png");
            opacity: .6;
        }
        70%{
            background-image: url("images/drone.png");
            opacity: 1;
        }
        75%{
            background-image: url("images/drone.png");
            opacity: .6;
        }
        79%{
            background-image: url("images/drone.png");
            opacity: .2;
        }
        80%{
            background-image: url("images/gear.png");
            opacity: .2;
        }
        85%{
            background-image: url("images/gear.png");
            opacity: .6;
        }
        90%{
            background-image: url("images/gear.png");
            opacity: 1;
        }
        95%{
            background-image: url("images/gear.png");
            opacity: .6;
        }
        100%{
            background-image: url("images/gear.png");
            opacity: .2;
        }
    }


/*__________[End of => creative section]__________*/





/*==============>[footer]<==============*/
    footer{
        align-self: stretch;
        Height:239px;
        background-color: #0A0826;
        padding: 50px 0;
        color: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }
    footer>h4{
        color: white;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0px;
    }
    footer p{
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        color: #D9DBE1;
    }
    .social-icon{
        text-decoration: none;
        width: 176px;
        display: flex;
        justify-content: space-between;
    }
    .social-icon .fab{
        color: #D9DBE1;
        font-size: 30px;
        transition: transform .3s;
    }
    .social-icon .fab:hover{
        transform: scale(1.2);
    }
    .social-icon .fab:active{
        transform: scale(1);
    }


/*__________[End of => footer]__________*/





/*==============>[media query for tablet / notepad]<==============*/
@media only screen and (max-width: 768px) {
    body{
        padding-top: 50px;
    }
    header{
        grid-template-columns: 1fr;
        align-self: stretch;
        padding: 0 2rem;
    }
    main{
        margin-top: 1.5rem;
    }
    .starting-journey{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "si si si"
        "st st st"
        ;
        justify-content: center;
        justify-items: center;
        padding: 0 2rem;
    }
    .img-area{
        max-height: 20rem;
        margin-bottom: 1rem;
    }
    .card-area{
        grid-template-columns: repeat(2,329px);
    }
    .creative-text{
        margin-top: 2rem;
        flex: 0 1 100%;
        width: 100%;
        padding: 1rem 10%;
    }
    .creative-text p{
        font-size: 1.5em;
    }
}
/*__________[End of => media query for tablet / notepad]__________*/


/*==============>[media query for mobile phone]<==============*/
@media only screen and (max-width: 400px) {
    body{
        padding-top: 35px;
    }
    header{
        align-self: center;
    }
    main{
        margin-top: 22px;
    }
    h1{
        font-size: 28px;
        line-height: 42px;
    }
    .starting-journey{
        grid-template-columns: 1fr;
        text-align: center;
        margin-bottom: 50.5px;
    }
    .text-area{
        max-width: 400px;
        padding: 0 10px;
    }
    .text-area p{
        font-size: 14px;
        line-height: 21px;
    }
    .img-area{
        width: 256px;
        height: 256px;
        margin-bottom: 14px;
    }
    .popular-collection> h3{
        font-size: 20px;
    }
    .card-area{
        grid-template-columns: 329px;
    }
    .creative-text p{
        font-size: 1.2em;
    }
}
/*__________[End of => media query for mobile phone]__________*/